html,body {
    margin: 0;
    padding: 0;
    letter-spacing: 2px !important;
    background-color: #F4F4F4;
}
.el-oculto{
    display: none;
}
.container{
    max-width: none;
    width: 100%;
}
.circulo-blanco{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    max-width: none;
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: white;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}
.nav{
    background-color: #21BCD0;
}
.contenedor-titulo-de-circulo{
    width: 100%;
    padding-bottom: 4%;
    padding-top: 5%;
}
.banner{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    background-color: #21BCD0;
}
.imgmenu{
    width: 160px;
    margin: 25px;
}
.menu-item{
    color: white;
    background-color: #21BCD0;
    font-size: 14px !important;
}

.menu-item a{
    text-transform: uppercase;
    font-weight: 600;
    color: white !important;
}
.banner .container{
    height: 100px;
}
.nav-primary{
    margin-right: 8%;
    float: right;
    margin-top: 10px;
}
.nav-segundo{
    margin-right: 8%;
    float: right;
    margin-top: 10px;
}
.menu-menuprimario-container ul{
    margin-top: 16px;
}
#menu-menuprimario ul li{
    height: 56px;
    width: 120px;
}
#menu-menuprimario ul li a{ 
    color: white;
    height: 56px;
}
.primera_parte{
    clear: both;
    margin-top: 3%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0,0,0,.2);
}
.contenido{    
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
#menu-item-71, #menu-item-135, #menu-item-134{
    display: none;
}
.boton-menu{
    float: right;
    margin-right: -20%;
    margin-top: -16%;
    width: 9%;
}
.segundo-menu{
    height: 400px;
    z-index: 99;
    position: relative;
    display: none;
}
.segundo-menu .menu-item::after{
    content: '';
    background-color: rgba(233, 230, 73, 0.9);
    border-radius: 25px;
    width: 35px;
    height: 35px;
    right: 32px;
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    display: block

}

.segundo-menu .menu-item:hover::after{
    opacity: 1;
    display: block;
    transition: 0.5s;
}
footer .ico-contenedor-redes{
    width: 50px;
}
.ico-contenedor-redes svg{
    fill:white !important;
    width: 38px;
    height: 38px;
    transition: 0.5s;
}
.ico-contenedor-redes svg:hover{
    fill: rgb(233, 230, 73) !important;
    transition: 0.5s;

}

.segundo-menu .menu-menuprimario-container ul{
    margin-top: 0;
}

.segundo-menu .menu-menuprimario-container ul li a{
    z-index: 9;
    text-align: right;
}
.segundo-menu .nav-primary {
    margin-right: 5%;
}

.boton-cerrar{
    display: none;
    float: right;
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding-top: 20px !important;
    padding-right: 40px;
}
.otro-menu .menu-item{
    font-size: 20px !important;
    padding: 12% !important;
    text-align: left;
    padding-right: 50px !important;
}
#boton-desplegar{
    float: right;
    margin-top: 14px;
}
.segundo-menu .menu-menuprimario-container{
    display: list-item;
    list-style: none;
    column-count: 2;
    margin-top: 30px;
}
.segundo-menu .menu-menuprimario-container #menu-menuprimario-1{
    display: list-item;
}
.contendos{
    position: relative;
    width: 55%;
    height: 150%;
    padding: 10%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #21bcd0;
    opacity: 0.6;
    border-radius: 0% 600px 600px 0%;
    transform: translateY(-15.5%);
}
.contenamarillo{
    position:absolute;
    top:0; 
    left:0;
    height: 83.1vh;
    width: 100%;
    right: 0;
    bottom: 0;
    content: "";
    background: #ece81e;
    opacity: 0.8;
}
.contenedor-primero{
    position: relative;
}
.contenedor-parrafo{
    width: 36%;
    position: absolute;
    margin-top: 11%;
    margin-left: 9%;
}
.primercolor{
    margin-top: 4%;
    box-shadow: 0 0 50px rgba(0,0,0,.2);
    overflow: hidden;
    height: 425px;
    background-color: #21BCD0;
    position: relative;
}
.segundocolor{
    width: 175vh;
    height: 175vh;
    transform: translateY(-29.5%);
    border: 68px solid #4CC7D6;
    border-radius: 360%;
    background-color: white;
    margin: 0 auto;
}
.contenido-tercer-color{
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 32%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.segundocolor h2{
    text-transform: uppercase;
    font-weight: 700;
    color: #22BACF;
    text-align: center;
}
.caja-texto-suscribete{
    width: 55%;
    height: 67%;
    font-size: 16px;
    margin-top: 3%;
    margin-left: 22%;
    border-radius: 20px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #22BACF;
    background-color: #EBE81D;
}
.contenedorcaja-input{
    height: 57px;
    margin: 0 auto;
}
.ico-redes{
    max-width: 4%;
}
.contenedor-ico-redes{
    margin-top: 5%;
    text-align: center;    
}
.caja-texto-suscribete::placeholder {
    color: #22BACF;
}
.contenedor-contenido{
    margin-top: 22%;
    padding: 95px;
    height: 0px;
    width: 94%;
    margin-left: 3%;
}
.contenedor-empresas-confian{
    position: relative;
    margin-top: 5%;
    text-align: center;
}
.contenedor-titulo{
    margin: 0 auto;
    width: 50%;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 35px;
}
.empresas-confian{
    margin-top: 5% !important;
    width: 58%;
    margin: 0 auto;
}
.contenedor-titulo-empresas-confian {
    width: 50%;
    margin: 0 auto;
}
.ventajascontenedor{
    padding: 2%;
    margin-top: 5%;
    background-color: #EBE81D;
    text-align: center;
    margin-left: 0; 
    margin-right: 0; 

}
.title-ventajas {
    width: 100%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: 600 !important;
    color: #21bcd0 !important;
    text-align: center;
    font-size: 30px ;
    margin-bottom: 3%;
}
.contenedor-contenido-ventaja {
    box-shadow: 0 0 50px rgba(0,0,0,.1);
    border: 25px solid #E9E649;
    background-color: white;
    border-radius: 76%;
    height: 42vh;
    width: 42vh;
}
.imgseccion{
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.contenido-ventajas{
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    font-size: 10px;
}
.contenedor-circulos{
    width: 24%;
    padding: 2%;
}
.cajita-contenido{
    margin-top: 5%;
}
.contenedor-parrafo-ventaja{
    width: 82%;
    margin: 0 auto;
}
.boton-ventaja{
    margin: 0 auto;
    padding-top: 5%;
}
.boton-ventaja a {
    color: white;
    background-color: #21BCD0;
    display: block;
    width: 300px;
    font-size: 16px;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 29%;
    margin-top: -5px;
    padding: 8px 15px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
}



/*FOOOOOOTERRRRRRRRRRRRRRRRR*/
.content-info{
    background-color: #21BCD0;
}
.image-contenedor{
    width: 180px;
    margin-top: 10%;
    margin-left: 46%;
}
.paginas-footer {
    width: 100%;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.opciones-paginas{
    padding-top: 10%;
    width: 300px;
    font-size: 12px;
}
.opciones-paginas a{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.title-contacto{
    margin-top: 10%;
    margin-left: 50%;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.ico-footer-redes{
    display: flex;
    margin-left: 47%;
    width: 200px;
    margin-top: 17%;
}
.ico-contenedor-redes{
    width: 30px;
    padding-right: 5px;
}
.derechos-reservados{
    font-size: 10px;
    margin-top: 15%;
    width: 320px;
    margin-left: 50%;
}
.derechos-reservados{
    color: white;
    text-transform: uppercase;
}
.partedos{
    margin-top: -50px;
    box-shadow: 0 0 50px rgba(0,0,0,.2);
    position: relative;
    background-color: white;
}
.title-con-nosotros{
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.title-con-nosotros h2{
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 18%;
    font-size: 23px;
    color: #21BCD0;
}
.contenedor-input{
    padding: 10%;
}
.contenedor-input input{
    width: 100%;
    margin-bottom: 4%;
    border-radius: 20px;
    border: 1;
    border-style: none;
    height: 33px;
    font-size: 16px;
    padding-left: 46px;
    background-color: #EBEBEB;
}
.container-boton-enviar{
    margin: 0 auto;
    padding-top: 5%;
}
.boton-enviar{
    color: #21BCD0;
    background-color: #E9E649;
    display: block;
    width: 44%;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 15px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
}
/*SLIDERRRRRRRRRRRRRRRRRRR---------------------*/
.tituloslider{
    display: flex;
    z-index: 8;
    position: absolute;
    width: 20%;
    font-size: 20px;
    padding-top: 8%;
    margin-left: 5%;
}
.tituloslider span{
    font-weight: 400;
    color: #21BCD0;
    margin-bottom: 0.5714em;
    text-transform: uppercase;
    font-size: 24px;
}
.slideshow ul, .slideshow ol{
	list-style: none !important;
}
.slideshow{
    margin-top: 110px;
    margin-left: 40px;
    padding-bottom: 48%;
	position: relative;
}
.slider  ul{
	width: 100%;
}
.sliderimagen{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    max-width: none;
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: white;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.slider li img{
    float: right;
    left: 50%;
    top: 50%;
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 5;
    transform: translate(-50%, -50%);
}
.slider .caption{
    font-size: 30px;
    margin-top: 15%;
    float: left;
    position: relative;
    width: 37%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    left:3%;
}
.slider .caption h2{
    margin-bottom: 0 !important;
    margin-top: 3%;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #21BCD0 !important;
}
.slider .caption p{
    font-size: 20px;
    color: black;
}
.left, .right{
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}
.right, .left{
    width: 35px;
    height: 35px;
    border-radius: 59px;
    color: white;
    position: relative;
}
@media screen and (max-width: 620px){
    .home .secciondos{
        margin-top: 22px;
    }
    .productitem {
        height: 42% !important;
    }
    .contenidoproduct{
        margin-top: 10px !important;
    }

    .segundocolor {
        transform: translateY(-16.5%);
        width: 85vh;
        height: 85vh;
    }
    .contenido-tercer-color {
        font-size: 11px;
    }
    .contenedor-contenido {
        margin-top: -4%;
    }
    .segundocolor h2 {
        margin-top: -10px;
        font-size: 20px;
    }
    .caja-texto-suscribete {
        font-size: 11px;
    }
}
@media screen and (max-width: 600px){
    .slideshow {
        margin-bottom: -13% !important;
    }
    
    .slider li {
        padding-top: 25%;
    }
    .boton-slider {
        width: 85% !important;
        margin-top: 15%;
    }
    .slider .caption {
        margin-top: -20% !important;
        left: -4% !important;
    }
    
    .tituloslider {
        margin-left: 0px !important;
        margin-top: 5%;
    }
    .tituloslider span {
        margin-top: -100%;
 
    }
    .modal-card {
        width: 450px !important;
        left: 46% !important;
    }
    img .logo-menusecundario {
        height: 100%;
        margin-top: -15px !important;
    }
        
    .page-header {
        display: none;
        height: 300px;
        margin-top: 10% !important;
    }
        
    .page-template-posts .posts {
        margin-top: 20% !important;
    }
        
    .product-template-default .posts .containerposts {
        margin-top: 15% !important;
    }
        
	.slider .caption p{
		display: none;
	}
	.slider .caption h1{
		font-size: 35px;
	}
	.left, .right{
		font-size: 30px;
	}
	.slider li img{
		width: 600px;
	}
	.pagination{
		display: none;
	}
}

.boton-slider{
    color: #21BCD0;
    background-color: #E9E649;
    display: block;
    width: 44%;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 15px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.6;
}
.boton-slider:hover {
    transform: rotateX(360deg);
}
.padre-botones-slider{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    z-index: 2;
}
.padre-botones-slider::after{
    content: '';
    border-radius: 50%;
    width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 420px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

}
.padre-botones-slider::before{
    content: '';
    border-radius: 50%;
    width: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 580px;
    position: absolute;
    background-color: rgba(233, 230, 73, 0.8);

}

.slider-item-numeros{
    margin-left: 5px;
}
.slider-item-numeros a{
    position: relative;
    display: block;
    padding-bottom: 30%;
    font-weight: 700;
    color: #21BCD0 !important;
    font-size: 20px;
}
.circulo-azul{
    background-color: rgba(33, 188, 208, 0.8);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translatey(-50%) translatex(-50px);
    width: 600px;
    height: 600px;
}
/*FIN DEL SLIDERRRRRRRRRRR--------------------*/

/*Categorias---------------------------------*/
.categorias-contenedor-padre{
    margin-top: 5%;
    padding: 2%;
    text-align: center;
}
.contenedor-titulo-categorias{
    width: 50%;
    margin: 0 auto;
    text-align: center
}
.contenedor-titulo-categorias span{
    text-transform: uppercase;
    font-weight: 700;
    color: #21BCD0 !important;
    font-size: 40px;
}
.contenedor-descrip{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.contenedor-descrip p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}
.segundo-parrafo{
    font-weight: 700;
}
.contenedor-tarjetas{
    padding: 0;
    margin-top: 5%;
}

.contenedor-hijo{
    padding: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.contenedor-img-tarjeta{
    background-size: cover;
    width: auto;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.contenedor-title-categoria{
    font-size: 12px;
    padding: 5%;
    background: #21BCD0;
    font-weight: 500;
    text-transform: uppercase;
}
.title-categoria{
    color: white !important;
    margin-bottom: 0 !important;
}
.ver-categoria{
    color: #21BCD0;
    background-color: #E9E649;
    display: block;
    width: 44%;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 15px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
}
.contenedor-img-tarjeta img{
    width: auto;
    max-width: none;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
.container-boton-categoria{
    margin: 0 auto;
    padding-bottom: 10%;
    padding-top: 10%;
}
.boton-categoria{
    color: #21BCD0;
    background-color: #E9E649;
    display: block;
    width: 59%;
    padding-bottom: 5%;
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 15px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
}
.contenedor-tarjetas-padre{
    position: absolute;
    margin-top: 14.3%;
    width: 100%;    
    justify-content: center;
}
.contenedor-tarjetas{
    display: inline-block;
    margin: 1.2%;
}

.boton-categoria-ir-tienda{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}
.boton-categoria-ir-tienda a{ 
    color: white;
    background-color: #21BCD0;
    display: block;
    width: 300px;
    font-size: 16px;
    margin: 0 auto;
    font-weight: 700;
    margin-top: -5px;
    padding: 8px 15px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
}
.contenedor-productos{
    padding: 0 !important;
}
.contenedor-categoria{
    position: relative;
    height: 130vh;
}
.contenedor-padre-producto-categoria{
    position: a;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
}
.contenedor-productos{
    margin: 1%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.imgproducto{
    background-size: cover;
    width: auto;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.imgproducto img{
    width: auto;
    max-width: none;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contenedor-titulo-producto{
    font-size: 12px;
    padding: 5%;
    background: #21BCD0;
    font-weight: 500;
    text-transform: uppercase;
}
.titulo-producto-categoria{
    color: white !important;
    margin-bottom: 0 !important;
}
.contenedor-boton-producto-categoria{
    margin: 0 auto;
    padding-bottom: 6%;
    padding-top: 6%;
}
.boton-producto-categoria{
    color: #21BCD0;
    background-color: #E9E649;
    display: block;
    width: 59%;
    padding-bottom: 5%;
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 15px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
}

/*fin de los estilos de las categories*/
.img-categoria{
    filter: grayscale(100%);
    opacity: 0.5;
    background-size: cover !important;
    height: 60px;
    width: 100px;
    margin: 0 auto;
}
.contenedorimg-confian{
    width: 160px;
}

.ico-header-redes{
    display: flex;
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 45px;
}
.ico-header-redes .ico-contenedor-redes {
    width: 52px;
    padding-right: 14px;
    padding-bottom: 21px;   
    transition: 0.5s
}
.ico-header-redes .ico-contenedor-redes:hover{
    transition: 0.5s;
}
.producto-precio strong{
    color: #21BCD0;
}

/*NOSOTROS---------------------------------*/

.contenedor-fondo-circular{
    background-color: rgba(33, 188, 208, 0.4);
}
.contenedor-title-nosotros{
    border: 80px solid rgba(33, 188, 208, 0.6);
    text-align: center;
    width: 170vh;
    height: 170vh;  
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 80%;
    left: 50%;
    transform: translate(0%,-31%);
}

.contenedor-title-nosotros h2{
    top: 44%;
    position: relative;
    color: white;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.3));
}
.contenedor-img-parte-uno{
    width: 75%;
    height: 75%;
    padding-top: 5%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.contenedor-texto-parte-uno{
    padding: 3%;
    width: 90%;
    padding-left: 25vh;
    text-align: justify;
}
.contenedor-texto-parte-uno h2{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(33, 188, 208);

}
.contenedor-texto-parte-uno p{
    padding-top: 3%;
    padding-bottom: 5%;
}

.parte-ventajas{
    text-align: justify;
    padding-left: 16vh;
    background-color: white;
    
}
.parte-ventajas h2{
    margin-top: 10%;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(33, 188, 208);
}
.parte-ventajas p{
    width: 86%;
    margin-top: 10%;
    color: black;
}


.tercera-parte-nosotros{
    text-align: center
}
.tercera-parte-nosotros h2{
    padding-top: 5%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(33, 188, 208);
}
.tercera-parte-nosotros p{
    width: 50%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 3%;
}
.contenedor-img-circular{
    overflow: hidden;
    width: 60vh;
    height: 60vh;
    margin: 0 auto;
    border-radius: 220px;
    border: 25px solid rgba(33, 188, 208, 0.6);
}
.contenedor-img-circular img{
    width: 600px;
    height: auto;
    position: relative;
    right: 144px;
    max-width: none !important;
}
.cada-ventaja-nosotros{
    background-color: #E9E649;
    position: relative;
}
.nosotros .contenedor-circulos{
    position: relative;
    margin-left: 5%;
    align-items: center;
    padding: 4%;
    display: inline-block;
}
.nosotros .contenedor-contenido-ventaja{
    height: 35vh;
    width: 35vh;
}
.nosotros .imgseccion{
    width: 118px;
    height: 118px;
    padding-top: 12%;
}
.nosotros .contenido-ventajas{
    text-align: center;
    color: #21BCD0;
}
.contenedor-padre-img-nosotros{
    margin-bottom: 7%
}
.header-categoria-producto{
    width: 100%;
}
.titulo-categoria-producto{
    color: #21BCD0;
    position: relative;
    margin-left: 11%;
    float: left;
    font-weight: 700;
    text-transform: uppercase;;
}
.volver-cate{
    color: #21BCD0;
    position: relative;
    float: right;
    margin-right: 10%;
    font-weight: 700;
    text-transform: uppercase;
}
/*FIN DE NOSOTROS-------------------------*/

/*TIENDA---------------------------------*/

.shop .woocommerce{
    padding: 5%;
    margin-top: 10%;
}
 .woocommerce-loop-product__title{
    background-color: #21BCD0;
    color: white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    height: 54px;
    padding: 7% !important;
    margin-top: -14px !important;
}
.shop .price{
    text-align: center;
    margin-top: 3px;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #21BCD0 !important;
    font-size: 15px !important;
    text-decoration: none;
}
 .shop.price ins {
    text-decoration: none !important;
}
 .shop .product {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.verproductoshop {
    align-items: center;
    background-color: #E9E649 !important;
    bottom: 40px;
    margin: 0 auto;
    color: #21BCD0 !important;
    display: flex;
    border-radius: 31px;
    font-size: 10px !important;
    font-weight: 700;
    left: 18%;
    height: 31px !important;
    justify-content: center;
    line-height: 2px !important;
    opacity: 1 !important;
    padding: 16px 4px !important;
    position: absolute;
    text-transform: uppercase !important;
    width: 63%;
    z-index: 99;
}

.single-product-data .product-type-simple{
    margin-top: 20%;
}
.entry-content{
    padding-left: 5%;
    margin-top: -9%;
    padding-right: 5%;
}
.single-product-data .entry-title{
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #21BCD0 !important;
    float: right;
    right: 26%;
    position: relative;
}
.single-product-data .updated, .single-product-data .byline {
display: none;
}
.single-product-data .product_meta{
    display: none;
}
.single-product-data  .wc-tabs{
    display: none;
}
#tab-description {
    margin-left: 52%;
    display: block;
    position: absolute;
    top: 20%;
}
.product-template-default .woocommerce-tabs, .wc-tabs-wrapper {
    clear: none!important;
    height: 80px;
}
.related ul{
    padding-bottom: 4% !important;
}
.related h2{
    color: #21BCD0;
    text-transform: uppercase;
    font-weight: 700 !important;
    text-align: center;
    padding-bottom: 4%;
}
.summary{
    margin-top: 26px;
}
.single-product-data .related{
    margin-top: 80vh;
} 
#tab-description h2{
    color: #21bcd0;

    text-transform: uppercase;
}
.single-product-data .products ul li {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.single-product-data .products ul li  .woocommerce-loop-product__title{
    background-color: #21BCD0;
    color: white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    height: 54px;
    padding: 7% !important;
    margin-top: -14px !important;
}
.single-product-data .products ul li .price{
    text-align: center;
    margin-top: 3px;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #21BCD0 !important;
    font-size: 15px !important;
    text-decoration: none;
}
.entry-summary .price{
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #21BCD0 !important;
    text-decoration: none;
}
.comments{
    display: none;
}
.in-stock{
    color: #21BCD0 !important;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins{
    text-decoration: none;
}
/*FIN DE LA TIENDA-----------------------*/

/*Inicio de responsive*/

@media only screen and (max-width: 1280px) {
    .boton-slider {
        width: 50%;
        font-size: 14px;
    }

    .contenedor-parrafo {
        margin-top: 12%;
    }

    .contenido {
        font-size: 26px;
    }

    .contenedor-titulo-categorias {
        width: 70%;
    }

    .title-categoria {
        font-size: 16px !important;
    }

    .boton-categoria {
        width: 60%;
        font-size: 10px;
    }

    .boton-ventaja a {
        font-size: 14px;
    }

    .contenedor-contenido {
        margin-top: 19%;
    }

    .contenedor-titulo {
        font-size: 30px ;
    }

    .contenedorimg-confian {
        width: 145px;
    }

    .imgseccion img {
        width: 80%;
    }

    .contenedor-contenido-ventaja {
        height: 39vh;
        width: 39vh;
    }
    .sliderimagen, .circulo-blanco{
        transform: translate(-6%, -50%);  
    }
    .circulo-azul{
        transform: translatey(-50%) translatex(-89px);
    }
    .contenido-ventajas {
        margin-top: -5%;
    }

    .contenido-tercer-color {
        padding-top: 35%;
        width: 70%;
        font-size: 24px;
    }
}

@media only screen and (max-width: 1160px) {
    .contenedor-title-nosotros{
        width: 120vh;
        height: 120vh;
        transform: translate(0%,-27%);
    }
    .slider .caption span {
        padding-top: 10%;
    }

    .slider .caption h2 {
        font-size: 35px ;
    }

    .tituloslider span {
        font-size: 18px;
    }

    .boton-slider {
        width: 65%;
    }

    .circulo-azul {
        width: 500px;
        height: 500px;
    }

    .sliderimagen, .circulo-blanco {
        transform: translate(-12%, -50%);
        width: 430px;
        height: 430px;
    }

    .padre-botones-slider::before {
        width: 500px;
        height: 500px;
    }

    .padre-botones-slider::after {
        width: 380px;
        height: 380px;
    }

    .contenedor-parrafo {
        margin-top: 17%;
    }

    .contenido {
        font-size: 22px;
    }

    .contenedor-titulo-categorias span {
        font-size: 35px;
    }

    .contenedor-descrip p {
        font-size: 17px;
    }

    .title-categoria {
        font-size: 14px !important;
    }

    .contenedor-contenido-ventaja {
        height: 36vh;
        width: 36vh;
    }

    .imgseccion img {
        width: 65%;
    }

    .imgseccion {
        height: 85px;
    }

    .contenido-ventajas {
        font-size: 9px;
    }

    .boton-enviar {
        width: 65%;
        font-size: 14px;
    }

}
@media only screen and (max-width: 1152px) {
    .nosotros .imgseccion {
        width: 138px !important;
        height: 140px !important;
        padding-left: 10% !important;
        padding-top: 12% !important;
    }
    .imgseccion img {
        width: 100% !important;
    }
    .nosotros .contenido-ventajas{
        margin-top: 10%;
    }

    .empresas-confian {
        width: 75%;
    }

    .contenedor-titulo-empresas-confian {
        width: 65%;
    }
}


@media only screen and (max-width: 1024px) {
    .imgseccion {
        height: 100px;
    }
    .contenedor-titulo-nosotros{
        height: 360px;
    }
    .contenedor-title-nosotros{
        width: 110vh;
        height: 110vh;
        border: 70px solid rgba(33, 188, 208, 0.6);
    }
    .contenedor-title-nosotros h2 {
        font-size: 52px;
    }
    .segundocolor{
        transform: translateY(-23.5%);
        width: 140vh;
        height: 140vh;
    }
    .contenedor-contenido {
        margin-top: 16%;
    }
    .boton-producto-categoria{
        width: 70%;
        font-size: 10px;
    }
    .producto-precio{
        font-size: 12px;
    }
    .contenedor-tarjetas-padre{
        margin-top: 16.4%;
    }
    .boton-categoria-ir-tienda{
        top: 85%;
    }
    .imgseccion{
        width:82px
    }

    .contenido-tercer-color {
        padding-top: 28%;
    }
}
@media only screen and (max-width: 768px) {
    .otro-menu .menu-item {
        font-size: 16px !important;
        padding-right: 12px !important;
    }

    .ico-contenedor-redes svg {
        width: 30px;
        height: 30px;
    }

    .containerfooter{
        display: flex;
        flex-direction: column-reverse;
    }

    .boton-categoria-ir-tienda a {
        width: 180px;
        font-size: 12px;
    }

    .contenedor-primero {
        height: 290px !important;
    }

    .boton-ventaja a {
        margin-bottom: 15%;
    }
    .woocommerce-product-details__short-description p{
        margin-top: 7%;

    }
    .boton-categoria-ir-tienda{
        position: relative;
    }
    .flex-viewport{
        width: 100% !important;
    }
    .woocommerce div.product div.images .flex-control-thumbs li{
        width: 15%;
    }
    .contenedor-categoria{
        height: auto;
    }
    .contenedor-tarjetas-padre{
        position: relative;
    }
    .boton-menu{
        margin-right: -7%;
    }
    #menu-item-97, #menu-item-133, #menu-item-72, #menu-item-132{
        display: none !important;
    }
    .title-ventajas {
        font-size: 24px;
    }
    .contenedor-primero{
        height: 380px !important;
    }
    .img-categoria {
        width: 136px;
        display: inline-block;
    }
    .contenedor-tarjetas {
        width: 219px;
    }
    .boton-categoria {
        width: 80%;
    }
    .contenedor-productos{
        display: inline-block;
        width: 220px;
    }
    
    .contenedor-title-nosotros{
        width: 95vh;
            height: 95vh;
            border: 60px solid rgba(33, 188, 208, 0.6);
        }
    .contenedor-titulo-nosotros {
        height: 320px;
    }
        
    .contenedor-title-nosotros h2 {
        font-size: 45px;
    }
    .contenedor-texto-parte-uno {
        width: 80%;
        padding-left: 0;
        margin: 0 auto;
    }
    .parte-ventajas {
        padding-left: 12vh;
    }
    .tercera-parte-nosotros p {
        width: 80%;
    }
    .primera_parte{
        margin-top: 15%;  
    }
    .slider .caption{
        width: 30%;
        margin-top: 18%;
        left: 0%;
    }
    .slider .caption h2{
        font-size: 25px ;
    }
    .slider .caption p{
        font-size: 15px;
    }
    .boton-slider{
        width: 86%;
        font-size: 11px;
    }
    .sliderimagen, .circulo-blanco{
        width: 340px;
        height: 340px;
        transform: translate(-14%, -50%);
    }
    .slideshow{
        margin-top: 26%;
    }
    .padre-botones-slider::before {
        width: 420px;
        height: 420px;
    }
    .padre-botones-slider::after {
        width: 320px;
        height: 320px;
    }
    .right, .left {
        width: 30px;
        height: 30px;
    }
    .circulo-azul {
        width: 420px;
        height: 420px;
    }
    .slider-item-numeros a{
        font-size: 16px;
    }
    .contenedor-parrafo {
        margin-top: 0 !important;
        top: 23%;
    }
    .contenido {
        font-size: 18px !important;
    }
    .contendos{
        width: 60%
    }
    .contenedor-tarjetas-padre{
        margin-top: 5.4%;
    }
    .primercolor{
        height: 390px;
    }
    .segundocolor {
        transform: translateY(-20.5%);
        width: 115vh;
        height: 115vh;
        border: 60px solid #4CC7D6;
    }
    .contenido-tercer-color {
        font-size: 16px;
        padding-top: 30%;
    }
    .contenedor-contenido {
        margin-top: 6%;
    }
    .segundocolor h2{
        margin-top: 0px !important;
    }
    .caja-texto-suscribete{
        width: 75%;
        margin-left: 13%;

    }
    .ico-redes {
        max-width: 6%;
    }
    .contenedor-titulo-empresas-confian{
        width: 70%;
    }
    
    .contenedor-titulo-de-circulo{
        width: 80%;
        margin: 0 auto;
        padding-top: 7%;
        padding-bottom: 5%;
    }
    .contenedor-circulos {
        position: relative;
        padding: 2%;
        width: auto;
        display: inline-block;
    }
    .image-contenedor {
        padding-top: 5%;
        margin: 0 auto; 
        width: 30%;
    }

    .paginas-footer {
        margin: none;
        text-align: center;
        margin-bottom: 30px;
        margin-left: 0; 
        margin-top: 0; 
        width: 100%;
    }
    .opciones-paginas{
        margin: 0 auto;
        padding-top: 5%;
    }

    .opciones-paginas a {
        font-weight: 700;
    }

    .title-contacto{
        margin-left: 0;
    }
    .title-contacto-contenedor{
        text-align: center;
    }
    agregar al span de contacto un contenedor
    .title-contacto-contenedor{
        width: 100%;
        text-align: center;
        margin-top: 8%;
        color: white;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .ico-footer-redes{
            margin: 0 auto;
        padding-top: 5%;
    }

    .derechos-reservados {
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 6%;
        padding-bottom: 15%;
        width: 100%;
        margin-left: 0; 
        margin-top: 0; 
    }
    .shop .woocommerce {
        margin-top: 25%;
    }
    .woocommerce-product-gallery__image{
        width: 100%
    }
    .woocommerce span.onsale{
        top: 3.5em;
    }
    .woocommerce div.product div.images .woocommerce-product-gallery__trigger{
        top: 1.5em;
    }
    .woocommerce div.product div.summary{
        text-align: center;
    
    }
    .verproductoshop {
        bottom: 18px;
    }
    .single-product-data .product-type-simple{
        margin-top: 28%;
    }
    #tab-description{
        width: 100%;
        margin-left: 0;
        margin: 0 auto;
        top: 48%;
    }
    .single-product-data .related {
        margin-top: 30vh;
    }
    .single-product-data .entry-title{
    right: 0 !important;
    float: left;
    margin-left: 5%;
    }
    .product-template-default .woocommerce-tabs, .wc-tabs-wrapper{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 1270px) {
    .slideshow {
        margin-top: 140px;
    }

}
@media only screen and (max-width: 1220px) {
    .single-product-data .entry-title {
        right: 23%;
    }
}
@media only screen and (max-width: 1100px) {
    .single-product-data .entry-title {
        right: 20%;
    }
    .single-product-data .product-type-simple{
        margin-top: 25%;
    }
}
@media only screen and (max-width: 990px) {
    .single-product-data .entry-title {
        right: 17%;
    }
}
@media only screen and (max-width: 990px) {
    .slideshow {
        margin-top: 160px;
        margin-bottom: 10%;
    }
}
@media only screen and (max-width: 930px) {
    .contenedor-primero{
        height: 360px !important;
    }
    .contenedor-parrafo {
        margin-top: 11%;
    }
    .padre-botones-slider {
        right: 10px;
    }
    .padre-botones-slider::before {
        width: 450px;
        height: 450px;
    }
    .padre-botones-slider::after {
        width: 300px;
        height: 300px;
    }
    .sliderimagen, .circulo-blanco {
        transform: translate(-14%, -50%);
        width: 380px;
        height: 380px;
    }
    .circulo-azul {
        width: 450px;
        height: 450px;
    }
    .slider .caption {
        left: 0%;
    }

    .contenido-tercer-color {
        padding-top: 30%;
    }

    .tituloslider {
        margin-left: 1%;
    }

    .contenido {
        font-size: 20px;
    }
}
@media only screen and (max-width: 890px) {
    .single-product-data .entry-title {
        right: 14%;
    }
}
@media only screen and (max-width: 830px) {
    .single-product-data .entry-title {
        right: 10%;
    }
    .shop .woocommerce {
        margin-top: 18%;
    }
    .nav-primary {
        margin-right: 10%;
    }
    .slider .caption h2 {
        font-size: 25px ;
    }
    .slider .caption p {
        font-size: 15px;
    }
    .slider .caption {
        margin-top: 20%;
    }
    .boton-slider {
        font-size: 10px;
    }
    .circulo-azul {
        width: 420px;
        height: 420px;
    }
    .sliderimagen, .circulo-blanco {
        width: 350px;
        height: 350px;
    }
    .padre-botones-slider::before {
        width: 400px;
        height: 400px;
    }
    .slider-item-numeros a {
        font-size: 15px;
    }
}
@media only screen and (max-width: 735px) {
    .circulo-azul {
        width: 330px;
        height: 330px;
        transform: translatey(-50%) translatex(-60px);
    }
    .sliderimagen, .circulo-blanco {
        width: 250px;
        height: 250px;
        transform: translate(-7%, -50%);
    }
    .padre-botones-slider::before {
        width: 320px;
        height: 320px;
    }
    .padre-botones-slider::after {
        width: 220px;
        height: 220px;
    }

    .slider .caption p {
        font-size: 12px;
    }

    .slider .caption h2 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 700px) {
    .primercolor {
        height: 329px;
    }
    .segundocolor {
        width: 100vh;
        height: 100vh;
        border: 50px solid #4CC7D6;
    }
    .contenedor-contenido {
        margin-top: 3%;
    }

    .contenido-tercer-color {
        padding-top: 22%;
    }

    .contenido {
        font-size: 20px;
    }
}
@media only screen and (max-width: 680px) {
    .single-product-data .product-type-simple {
        margin-top: 35%;
    }

    .contenedor-primero {
        height: 380px !important;
    }
}

@media only screen and (max-width: 540px) {
    #tab-description {
        top: 41% !important;
    }

    .segundocolor {
        border: 40px solid #4CC7D6;
    }
}

@media only screen and (max-width: 660px) {
    .slider .caption {
        left: -8%;
        width: 40%;
    }
    .tituloslider {
        margin-left: -16px;
    }

    .circulo-azul {
        transform: translatey(-50%) translatex(-75px);
    }

    .sliderimagen, .circulo-blanco {
        transform: translate(-12%, -50%);
    }
}


@media only screen and (max-width: 635px) {
    .menu-menuprimario-container ul {
        display: none;
    }
    .boton-menu {
        margin-right: -10%;
        margin-top: -25%;
        float: right;
    }
    .slideshow {
        margin-top: 200px;
    }
}
@media only screen and (max-width: 622px) {
    .segundocolor {
        width: 85vh;
        height: 80vh;
        border: 50px solid #4CC7D6;
        transform: translateY(-14.5%); 
    }
    .contenedor-contenido {
        margin-top: -7%;
    }
    .contenido-tercer-color {
        font-size: 13px;
    }
    .caja-texto-suscribete {
        font-size: 10px;
    }
    .menu-menuprimario-container{
        display: none;
    }
    #boton-desplegar{
        float: none;
        margin-top: 0
    }
    .boton-menu {
        margin-right: -4%;
        margin-top: -22%;
    }
    #tab-description {
        top: 45%;
    }

    .contenedor-titulo-categorias {
        width: 90%;
    }
    .contenedor-titulo-categorias span {
        font-size: 25px;
    }

    .contenedor-titulo {
        font-size: 25px;
    }

    .contenedorimg-confian {
        width: 110px;
    }

}
@media only screen and (max-width: 570px) {
    .contendos {
        width: 100%;
        border-radius: 0;
    }
    .contenedor-parrafo {
        margin-top: 0 !important;
        text-align: center;
        top: 30%;
        padding: 5%;
        margin: 0;
        width: 100%
    }

    .tituloslider {
        margin-left: -26px;
    }
    .boton-slider {
        width: 100%;
    }
    .circulo-azul {
        width: 280px;
        height: 280px;
        transform: translatey(-50%) translatex(-75px);
    }
    .padre-botones-slider::before {
        width: 250px;
        height: 250px;
    }
    .padre-botones-slider::after {
        width: 200px;
        height: 200px;
    }
    .sliderimagen, .circulo-blanco {
        width: 220px;
        height: 220px;
        transform: translate(-19%, -50%);
    }

    .slider li {
        padding-top: 36%;
    }

    .slider .caption {
        margin-top: -30% !important;
    }

}
@media only screen and (max-width: 530px) {
    .contenedorimg-confian {
        width: 100px;
    }
    .primercolor {
        height: 300px;
    }
    
    .contenedor-descrip p {
        font-size: 15px;
    }
    .segundocolor {
        width: 80vh;
        height: 80vh;
        transform: translateY(-18.5%);
    }
}
@media only screen and (max-width: 500px) {
    .otro-menu .menu-item {
        font-size: 12px !important;
        padding-right: 10px !important;
    }
    .ico-header-redes {
        width: 100%;
        left: 66px;
    }
    .primercolor {
        height: 260px;
    }
    .contenedor-contenido {
        width: 100%;
        margin: 0 auto;
         margin-left: 0%;
    }
    .caja-texto-suscribete {

        height: 52%;
    }
    .contenedor-ico-redes {
         margin-top: 0; 
    }
    .segundocolor {
        width: 70vh;
        height: 70vh;
        transform: translateY(-16.5%);
    }
    .contenedor-contenido {
        margin-top: -14%;
    }
    .contenido-tercer-color {
        font-size: 12px;
    }

    .tituloslider {
        margin-left: -34px;
    }

    .slider li {
        padding-top: 40%;
    }

    .sliderimagen, .circulo-blanco {
        transform: translate(-25%, -50%);
    }
    .slider .caption h2 {
        font-size: 15px;
    }
    .boton-slider {
        font-size: 8px;
        margin-top: 10%;
    }
    .circulo-azul {
        width: 280px;
        height: 280px;
        transform: translatey(-50%) translatex(-86px);
    }
    .slider-item-numeros {
        display: none;
    }
    .right, .left {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .padre-botones-slider {
        right: 4px;
    }
}
@media only screen and (max-width: 460px) {
    .contenedor-titulo-nosotros {
        height: 300px;
        }
    .contenedor-title-nosotros h2 {
        font-size: 35px;
    }
    .contenedor-title-nosotros {
        width: 75vh;
        height: 75vh;
        transform: translate(0%,-16%);
    }
    .contenedor-texto-parte-uno {
        width: 80%;
        padding-left: 0;
        margin: 0 auto;
    }
    .parte-ventajas {
        padding-left: 12vh;
    }
    .tercera-parte-nosotros p {
        width: 80%;
    }

    .slider li {
        padding-top: 80%;
    }

    .slider .caption {
        margin-top: -67% !important;
        width: 50%;
    }

    .slideshow {
        margin-top: 180px;
        margin-bottom: -30% !important;
    }

    .circulo-azul {
        width: 260px;
        height: 260px;
        transform: translatey(-50%) translatex(-120px);
    }
    .sliderimagen, .circulo-blanco {
        transform: translate(-45%, -50%);
    }
}

@media only screen and (max-width: 440px) {

    .slider li {
        padding-top: 100%;
    }

    .slider .caption {
        margin-top: -88% !important;
        width: 60%;
    }

    .segundocolor {
        width: 65vh;
        height: 65vh;

        transform: translateY(-13.5%);
        border: 36px solid #4CC7D6;
    }
}

@media only screen and (max-width: 365px) {
    .boton-ventaja a {
        margin-bottom: 30%;
    }
    .image-contenedor {
        width: 150px;
    }
    .primera_parte {
        margin-top: 25%;
    }
    .boton-slider {
        font-size: 7px;
        left: -12%;
        width: 130% !important;
    }
    .contenedor-titulo {
        font-size: 15px;
    }
    .boton-enviar {
        font-size: 10px;
    }
    .contenedor-titulo-empresas-confian {
        width: 95%;
    }
    .img-categoria{
        padding: 0 !important
    }
    .img-categoria {
        width: 95px;
    }
    .empresas-confian {
        padding-bottom: 0 !important;
        width: 95%;
    }
    .segundocolor {
        width: 50vh;
        height: 50vh;
        -webkit-transform: translateY(-10.5%);
        -o-transform: translateY(-10.5%);
        transform: translateY(-7.0%);
        border: 20px solid #4CC7D6;
    }
    .imgmenu {
        width: 115px;
    }
    .page-shop-data .type-product{
        width: 100% !important;
    }
    .single-product-data .product-type-simple {
        margin-top: 55%;
    }
    #tab-description {
        top: 36% !important;
    }
    .slideshow {
        margin-bottom: 26%;
    }
    .tituloslider {
        left: -10px;
    }
    .slider .caption {
        width: 40%;
        left: -18%;
        margin-top: -90% !important;
    }
    .slider li {
        padding-top: 90%;
    }
    .slider .caption h2 {
        font-size: 10px;
    }
    .circulo-azul {
        width: 230px;
        height: 230px;
    }
    .sliderimagen, .circulo-blanco {
        width: 200px;
        height: 200px;
        transform: translate(-42%, -50%);
    }
    .contenedorimg-confian {
        width: 80px;
    }
    .contenedor-empresas-confian {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .contenedor-contenido {
        margin-top: -24%;
    }
    .contenedor-contenido {
        margin-top: -24%;
        width: 104%
    }
    .contenido-tercer-color {
        font-size: 8px;
    }
    .caja-texto-suscribete {
        font-size: 9px;
    }
    .ico-redes {
        max-width: 8%;
    }
    .tituloslider {
        margin-top: -10%;
    }
    .sliderimagen, .circulo-blanco {
        transform: translate(-48%, -50%);
    }
    .circulo-azul {
        transform: translatey(-50%) translatex(-111px);
    }
    .contenido {
        font-size: 14px;
    }
    .contenedor-parrafo {
        top: 33%;
    }
    .categorias-contenedor-padre {
        margin-top: 15%;
    }
    .contenedor-descrip {
        margin: 0 auto;
        width: 83%;  
    }
    
    .primercolor {
        margin-top: 15%;
    }

    .contenido-tercer-color {
        font-size: 10px;
        padding-top: 20%;
    }
}
/*Fin de responsive*/


/*estilos para salir del paso*/

h2.woocommerce-loop-product__title {
    color: white;
    font-weight: 600;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    height: 451px;
}

